.navbar {
    background-color: #001F3F;
    color: white;
    width: 100%;
    z-index: 1000;
    transition: background 0.3s ease, color 0.3s ease;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-brand {
    color: white;
    transition: color 0.3s ease;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #f0f0f0;
}
/* Navbar Link Hover Effect */
.navbar .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px; 
}

/* Underline the Active Page Link */
.navbar .navbar-nav .nav-link.active ,.navbar .dropdown-item.active{
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
/* Add specific styling to underline both main link and dropdown links */
.navbar .navbar-nav .dropdown-toggle.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.carousel-inner {
    height: 0;
    padding-bottom: 60%;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#placeholder {
    margin-top: 80px;
    object-fit: cover;
}

.review-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.btn {
    width: 150px;
}

#carousel {
    margin-top: 80px;
}

footer {
    background-color: #001F3F;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
    font-weight: 500;
}

footer .fab {
    margin: 0 10px;
    color: white;
}

footer .fab:hover {
    color: #FFC107;
}